@import url(style.css);

.cardHover {
    transition: transform 200ms ease-in;
}
.cardHover:hover {
    /* transform: scale(1.02); */
    transform: scale(0.98);
}


.cardLeft {
    box-shadow: 0 2px 5px darkcyan;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(63, 61, 61);
    text-shadow: 5px 5px 15px #e40606;
    font-weight: bold;
    padding: 5rem 2rem;

    transition: transform 200ms ease-in;
}

.cardLeft:hover {
    /* transform: scale(1.02); */
    transform: scale(0.98);
}
.cardRight {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px darkcyan;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(58, 6, 6);
    text-shadow: 1px 1px 2px #FF0000;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 5rem 2rem;

    transition: transform 200ms ease-in;
}
.cardRight:hover {
    /* transform: scale(1.02); */
    transform: scale(0.98);
}

.container-2 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 0;
    padding: 0 1rem;
}

.container2-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(19rem, auto)); */
    grid-template-columns: 2fr 3fr;
    margin-bottom: 2rem;
}

/* Class Helper */
.container-2-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    padding: 0.5rem;
}

.container-2-1 {
    background: yellowgreen; 
}
.container-2-3 {
    background: rgb(137, 133, 163);
}
.container-2-5 {
    background: rgb(133, 194, 20);
}
.container-2-7 {
    background: rgb(199, 167, 174);
}

.border-first-view {
    background: rgb(181, 236, 52);
    border-radius: 1rem;

    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
}
.border-second-view {
    background: var(--background-gradients);
    border-radius: 1rem;

    display: grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

@media screen and (max-width: 500px) {
    .container2-grid {
        grid-template-columns: 1fr;
    }
}






