@import url(./container2.css);
@import url(./container3.css);
@import url(./footer.css);

:root {
    --background-gradients: linear-gradient(45deg,
     #845ec2, 
     #d65db1, 
     #ff6f91,
     #ff9671,
     #ffc75f,
     #f9f872
     );

    --color-primary: #651fff;
    --color-gray: #37474f;
    --color-light-gray: #b0bec5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    /* display: grid; */
    /* background: var(--background-gradients); */
    background-size: 500%;
    /* animation: bg-gradient-animation 7s infinite alternate; */
}

/* @keyframes bg-gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
} */
.container-1 {
    height: 500px;
    background: url(https://source.unsplash.com/collection/190727/1600x900);
    background-position: center;
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr ;
    
}
.container-1-1 {
    grid-column: 1 / -1;
    
}
.container-1-1 h1 {
    
    min-width: 300px;
    padding: 2rem 1rem;
    /* margin-left: 2rem; */
    background: rgba(24, 121, 34, 0.7);
    color: #ffffff;
}


.container-1-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    gap: 0.5rem;
    padding: 0.5rem;
    background: rgba(13, 89, 21, 0.4);
}
.container-1-2 .welcome {
    padding: 2rem;
    display: grid;
    align-items: center;
    background: rgba(45, 123, 211, 0.2);
}
.container-1-2 .welcome h1 {
    margin-bottom: 1rem;
}

.name-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: rgba(13, 89, 21, 0.4);
}
.name {
    padding: 2rem;
    font-size: 1.2rem;
    display: grid;
    align-content: center;
    background: rgba(13, 89, 21, 0.4);
}
.name p {
    padding-bottom: 0.5rem;
}
.imageProfile {
   display: grid;
   justify-content: center;
   align-content: center;
   background: rgba(13, 89, 21, 0.4);
}
.container-1-2 .imageProfile img {
    width: 80%;
    border-radius: 50%;
}


